[Desktop Entry]
Type=Application
Name=Judie
Comment=Judie room control
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 judie
Icon=judie
Terminal=false
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=1
